<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <style>
        #header{
            width:100%;
            height:100px;
            background-color: red;
        }
        #footer{
            width:100%;
            height:100px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <div id="header">header</div>

  <div id="mian">
    {% block main %}

    {% endblock main %}
  </div>
<div id="footer">footer</div>


</body>
</html>