<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级信息</title>
</head>
<body>
    <hl>班级信息列表</hl>
    <ul>
        {%for grade in grades%}
        <li>
            <a href="{{ grade.id }}">{{grade.gname}}</a>
        </li>
        {%endfor%}
    </ul>
</body>
</html>
