{% load static from  staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css"  href="/static/myApp/css/style.css">

    <script type="text/javascript"  src="/static/myApp/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript"  src="/static/myApp/js/sunck.js"></script>

</head>
<body>
<h1>qunimabi</h1>
       <!-- 注释内容-->
       <a href="good/123/">链接</a>
       <a href="{% url 'app:good' 1 %}">lianjie</a>

            <h1>bbbbb </h1>
          <h2>{{ stu.sname }}</h2>
           {% if num > 0%}
               <h1>PIAOLIANG</h1>
           {% endif %}
           <h1>{{ list|join:' ' }}</h1>
          <h1>num={{ num|add:10 }}</h1>
          <h1>num={%  widthratio num 1 5 %}</h1>
          <h1>num={%  widthratio num 5 1 %}</h1>
          <img src="/static/myApp/image/1.png"/>
          <img src="{% static 'myApp/image/1.png' %}"/>

</body>
</html>