<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <form action="/showinfo/" method="post">
       {% csrf_token %}
       姓名:<input type="text" name="username">
       <hr/>
       密码:<input type="password" name="passwd">
       <hr/>
       <input type="submit" name="login">
   </form>
</body>
</html>