<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
</head>
<body>
    <h1>学生信息列表</h1>
    <u1>
        {% for student in students %}
        <li>
             <a href="#">{{student.sname}}--{{ student.sgrade }}</a>
        </li>
        {%  empty %}
            <li>no students</li>
        {% endfor %}
        


    </u1>



</body>
</html>