<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <ul>
         {% for stu in students %}
             <li>
                {{ stu.sname }}--{{ stu.sgrade }}
             </li>
         {% endfor %}
     </ul>
     <ul>
         {% for index1 in students.paginator.page_range %}
             {% if index1 == students.number %}
                 <Li>
                  {{ index1 }}
                 </Li>
             {% else %}
                 <li>
                     <a href="/studentpage/{{ index1 }}">{{ index1 }}</a>

                 </li>
             {% endif %}

         {% endfor %}
     </ul>
</body>
</html>