<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
</head>
<body>
        <form  method="post"    action="/savefile/"  enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file"/>
            <input type="submit" name="上传"/>
        </form>
</body>
</html>