<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

      <form action="/verifycodecheck/" method="post">
          {% csrf_token %}
          <input type="text" name="verifycode"/>
          <img src="/verifycode/">
          <input type="submit" value="login"/>
         <span> {{ flag }}</span>


      </form>
</body>
</html>